/* Highlight current position in Navbar */

.div-app {
    height: 100vh;
}

.nav-item-current > .nav-link {
    color: black !important;
}

.nav-item-current {
    background-color: white;
}

#copyright-text {
    color: white;
    margin-left: 0;
}
