@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam:wght@300&display=swap');

/* 
Have to add the following style, else weird blank space shown 
Ref: https://stackoverflow.com/a/4617920/9045814
*/

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* ------ Inherit from assignment1------ */

.div-app {
    height: 100vh;
    /* background-color: #f8f8d9; */
}

.main-heading {
    height: 10vh;
    background-color: #f8f8d9;
}

.main-heading > p {
    color: black;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    margin: auto;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}