@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam:wght@300&display=swap');

/* 
Have to add the following style, else weird blank space shown 
Ref: https://stackoverflow.com/a/4617920/9045814
*/

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* page view styles */

.div-app {
    min-height: 100vh;
    background-color: #f8f8b8;
}

.main-heading {
    height: 10vh;
    /* background-color: #f8f8d9; */
}

.main-heading > p {
    color: black;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    margin: auto;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

/* main content */

.main-content {
  background-color:rgb(255, 255, 255, 0.5);
}

.main-content-left {
  /* background-color:azure; */
  /* border-bottom: thin solid lightgrey; */
  border-right: thin solid lightgrey;
}

/* .main-content-right {
  background-color:azure;
} */

/* left part of main content */

#create-new-button {
    width: 100%;
}

/* right part of main content */

.project-area {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.note {
  height: 100%;
  /* background-color: #f8f8d9; */
  border-width: thin;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 2%;
}

/* .note-text {
  background-color: #f8f8d9;
} */

/* .note-type-text {
  background-color: #f1f1b3;
} */

/* .note-link {
  background-color: #cddfe1;
} */

/* .note-type-link {
  background-color: #9abec3;
} */

.note-link-displayed {
  /* font-weight: bold; */
  color: black;
}